<div class="wrapper">

	<form class="form-login" method="post" action="/users/login">
		<div class="form-row">
			<input type="text" value="" placeholder="username" required>
		</div>

		<div class="form-row">
			<input type="password" value="" placeholder="password" required>
		</div>

		<button class="btn" href="#">Login</button>
		<a class="link" href="#">I've forgotten my details</a>
		
	</form>
	
	<ul ng-repeat='user in users'>
		<li>{{ user.username }}</li>
	</ul>
	
</div>