<div class="wrapper">

	<div class="form-login">

		<div class="form-row">
			<input type="text"value="" placeholder="Username">
		</div>

		<div class="form-row">
			<input type="text"value="" placeholder="E-mail">
		</div>

		<div class="form-row">
			<input type="password"value="" placeholder="Password">
		</div>

		<div class="form-row">
			<input type="password" value="" placeholder="Confirm password">
		</div>

		<div class="terms">
			<input type="checkbox">
			<label for="">Accept</label>
			<a href="#">Terms and Conditions</a>
		</div>

		<button class="btn" href="#">Sign up</button>
			
	</div>
	
</div>